{% extends 'index.html' %}
{% block body %}

  <div class="row mb-4">
      {% for populer in populer %}
    <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
          <div class="card-header">
            <a href="{{ populer['href']|safe }}">
              {{ populer.find('img')|safe }}
            </a>
            <div class="card-body">
                <h5 class="card-title">
                    <a href="{{ populer['href']|safe }}">
                {{ populer.find('img')['title']|safe }}
              </a>
                </h5>

                <h6 class="card-text">
                    <a href="{{ populer['href']|safe }}">
            {{ populer.find('p', attrs={'class': 'D_sq'}).text|safe }}
            </a>
                </h6>

            </div>
          </div>
        </div>
    </div>
    {% endfor %}
  </div>
{% endblock %}

